.MyServices-Container{
    width: 100%;
    background-color:#0c0c14 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size:contain;
    background-position: center;
    position: relative;
    z-index: 0;
    font-size: 25px;
    overflow: hidden;
    
}

.MyServices-Container-Banner{
    width: 35%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
   margin-top: 100px;
   overflow: hidden;
   position: relative;
}
.MyServices-Container-Banner .Absolute{
    -webkit-text-stroke: 1px rgb(65, 65, 65); /* For Safari/Chrome */
    text-stroke: 1px rgb(65, 65, 65);
}
.MyServices-Container-Title-h1 button{
     padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 1em;
    color: white;
    border: 1px solid #FF0039;
    text-decoration: none;
    
    border-radius: 25px;
    align-self: flex-start;
}
.MyServices-Container-Title-h1 button a{
    color: white;
    text-transform: none;
    text-decoration: none;
}
.MyServices-Container-Title-h1{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 25px;
   
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    
}
.MyServices-Container-Title-h1 p{
    align-self: flex-start;
    margin-top: -30px;
    opacity: 0.7;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 0.7em;
    text-align: left !important;
    margin-bottom: 50px;
}
.MyServices-Container-Title-h1 img{
    width: 40px;
    height: 20px;
    margin-bottom: 50px;
}
.MyServices-Container-Title-h1 h1{
    margin-left: 0 !important;
    margin-top: -20px;
    margin-bottom: 0;
    font-size: 3em;
    text-transform: uppercase;
    text-align: left;
    color: white;
     font-family: "Teko", sans-serif;
    text-transform: capitalize !important;
    font-weight: 500;
    width: 80%;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
.MyServices-Container-Title-h1 h1 span{
    color: #FF0039 !important;
}
.MyServices-Container-Title{
    width: 80%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
   
    position: relative;
    font-size: 25px;
    z-index: 1;
    overflow: hidden;
}
.MyServices-Container-Title h1{
    font-size:1.3em;
    text-transform: uppercase;
    color: white;
    text-align: right;
    font-family: "Teko", sans-serif;
    text-transform: capitalize !important;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    
}
.MyServices-Container-Title div{
    height: 2px;
    width: 100px;
    
    background-color: #FF0039;
}
.MyServices-Container .MyServices-Wrap{
    
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 100px;
    margin-bottom: 50px !important;
    overflow: hidden;
}
.MyServices-Container .MyServices-Wrap .Wrappers{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    overflow: hidden;
}
.MyServices-Card{
    width: 250px;
    gap: 5px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 25px;
    position: relative;
    overflow: hidden;
}
.MyServices-Card h1{
   
    font-size: 1.2em;
    text-align: center;
    font-family: "Teko", sans-serif;
    text-transform: capitalize !important;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
.MyServices-Card img{
    width: 50px;
    height: 50px;
    
}
.MyServices-Card p{
    width: 60%;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
    letter-spacing: 0.2px;
    text-align: left;
    opacity: 0.7;
    
    margin-bottom: 80px;
    color: white;
}
.Personal-Training:first-child::before{
    width: 100%;
    height: 50px;
    content: "Pogledaj katalog!";
    position: absolute;
    text-align: left;
    bottom: -50px;
    background-color: #B3001B;
    color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    transition: 300ms ease-in-out;
    opacity: 0;
}
.Personal-Training:first-child:hover::before{
    opacity: 1;
    transform: translateY(-50px);
}

.Rehab::before{
    width: 100%;
    height: 50px;
    content: "Kontaktiraj me!";
    position: absolute;
    text-align: left;
    bottom: -50px;
    background-color: #B3001B;
    color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    transition: 300ms ease-in-out;
    opacity: 0;
}
.Rehab:hover::before{
    opacity: 1;
    transform: translateY(-50px);
}
.Nutrition::before{
    width: 100%;
    height: 50px;
    content: "Kontaktiraj me!";
    position: absolute;
    text-align: left;
    bottom: -50px;
    background-color: #B3001B;
    color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.60em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    transition: 300ms ease-in-out;
    opacity: 0;
}
.Nutrition:hover::before{
    opacity: 1;
    transform: translateY(-50px);
}