.Blog-Details-Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 25px;
}
.Blog-Details-Title{
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.Blog-Details-Title h1{
    color: white;
    font-family: 'Teko', sans-serif;
    text-align: center;
    align-self: center;
    width: 30%;
    font-size: 3.4em;
}
.Blog-Details-Container p{
    color: white;
    font-family: 'Nunito', sans-serif;
    opacity: 0.7;
    text-align: center;
    font-size: 0.65em;
    align-self: center;
    width: 35%;
}
.Blog-Details-Container img{
    width: 35%;
    height: 400px;
align-self: center;
border-radius: 10px;
}
.Blog-Details-Content{
    margin-top: 100px;
    text-align: left !important;
}
.Blog-Details-More{
    width: 70%;
    align-self: center;
}
.Blog-Details-More-Title{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.Blog-Details-More-Title h1{
    margin: 0;
}
.Blog-Title-1{
    color: white;
    font-size: 0.8em;
    opacity: 0.7;
    font-family: 'Nunito', sans-serif;
}
.Blog-Title-2{
    color: white;
    font-size: 2.7em;
   
    font-family: 'Teko', sans-serif;
}
.Blog-Details-More-Next-Prev{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    gap: 50px;
}