.btn-scroll{
  display: none;
}
.Cover{
    width: 100%;
    
   
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position:  top center ;
    background-size: cover;
    /* background-color: #0c0c14; */

   
    
}
.Cover::before{
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgb(12,12,20);
  background: linear-gradient(90deg, rgba(12,12,20,1) 3%, rgba(12,12,20,0) 100%);
}
.Cover::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(12,12,20);
  background: linear-gradient(180deg, rgba(12,12,20,1) 0%, rgba(12,12,20,0) 100%);
}
.Cover-Images{
  display: none !important;
}
/*  */
.Title-Decoration{
  color: #FF0039;
  font-family: 'Teko', sans-serif;
  font-size:25px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
 
}
.Title-Decoration div{
  content: "";
  height: 3px;
  width: 100px;
  background-color: #FF0039;
  
 
}
.Title-Decoration h1{
  font-size: 1em ;
  font-family: 'Teko', sans-serif;
}




.Title{
    width: 70% !important;
    
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    
    z-index: 1;
    font-size: 25px;
}
.Cover-Title button{
padding-top: 15px;
padding-bottom: 15px;
padding-left: 35px;
padding-right: 35px;
  font-family: 'Teko', sans-serif;
  color: white;
  background-color:transparent;
  border: 1px solid #FF0039;
  font-size: 1.1em;
  background-color: #ff0039;
  position: relative;
  cursor: pointer;
  transition: 500ms;
  border-radius: 50px;
  
}
.Cover-Title{
  margin-top: 180px;
  font-size: 25px;
  width: 100%;
}
.Cover-Title button:hover{
 
  border: 1px solid white;
}
.Cover-Title-h1{
  width: 60%;
}
.Cover-Title-h1{
    
    color: white;
    font-size: 3.5em;
    font-family: 'Teko', sans-serif;
    letter-spacing: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.Cover-Title-h1 span{
  color: #FF0039;
}
.Title a{
  cursor: pointer;
}
.Title .Overview{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 250px;
  margin-bottom: 100px;
}
.Overview-Socials{
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.Overview-Socials .Soc{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2e3338;
  background: rgba(36, 36, 44, 0.46);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  cursor: pointer;
}
.Soc img{
  width: 50%;
  height: 50%;
}
.Overview-Item{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.Overview-Wrap{
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 90px;
  border-radius: 10px;
  border: 1px solid #2e3338;
  background: rgba(36, 36, 44, 0.46);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);

}
.Overview-Item h1{
  font-family: 'Teko', sans-serif;
  font-size: 2.2em;
  margin: 0;
  color: #FF0039;

}
.Overview-Item p{
  color: #c3c9d0;
  font-family: 'Nunito',sans-serif;
  margin-top: -20px;
  font-size: 0.6em;
}
.fancy {
    margin: 0;
    margin-top: 50px !important;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #940000;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }


 .Cover .fancy {
    margin-top: 50px !important;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    
    
    font-weight: 700;
    letter-spacing: 0.05em;
    width: 200px;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .Cover .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: white;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .Cover .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
   }
   
   .Cover .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #111111;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .Cover .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #111111;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .Cover .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #111111;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .Cover .fancy:hover {
    color: white;
    background: #111111;
   }
   
   .Cover .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .Cover .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .Cover .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .Cover .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }







   .Cover-Images{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: right;
    overflow: hidden;
   
   
  }
  .Cover-Images-Content {
    width: 96%;
    height: 87%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap:0 !important;
    overflow: hidden;
    z-index: auto;
  }
  .First-Image, .Second-Image, .Third-Image{
    width: 40%;
    height: 56%;
    position: relative;
    align-self: center;
   
  }
  /* THIRD */
  .Cover-Images-Content .Third-Image .Sixth-Bar{
    width: 100%;
    height: 100%;
    clip-path: polygon(34% 0, 100% 0, 66% 100%, 0 100%);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2; 
    align-self: center;
  }
  
  .Cover-Images-Content .Third-Image .Seventh-Bar{
    width: 60%;
    height: 50%;
    top:-30%;
    left: 65%;
    transform: translateX(-50%);
    position: absolute;
    clip-path: polygon(34% 0, 100% 0, 66% 100%, 0 100%);
    z-index: -1 !important;
    background: rgb(148,0,0);
  background: linear-gradient(0deg, rgba(148,0,0,0.8995973389355743) 55%, rgba(148,0,0,0) 100%);
  
  }
  .Cover-Images-Content .Third-Image .Eight-Bar{
    width:55%;
    height: 54%;
    top: 50%;
    transform: translateY(-50%);
    right:-10%;
    clip-path: polygon(40% 0, 100% 0, 60% 100%, 0 100%);
    background: rgb(148,0,0);
    background: linear-gradient(180deg, rgba(148,0,0,0.8995973389355743) 55%, rgba(148,0,0,0) 100%);
    position: absolute;
    z-index: -1 !important;
  }
  
  
  
  
  /* THIRD */
  
  /* SECOND */
  .Cover-Images-Content .Second-Image .Fifth-Bar{
  
    
    align-self: flex-start;
    left: 60%;
    transform: translateX(-50%);
    bottom: -30%;
    width: 60%;
    height: 50%;
    position: absolute;
    z-index: -1;
    clip-path: polygon(34% 0, 100% 0, 66% 100%, 0 100%);
    /* background: rgb(148, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(148, 0, 0, 0.3617822128851541) 50%,
      rgba(148, 0, 0, 0) 100%
    ); */
    /* background: rgb(148,0,0);
    background: linear-gradient(0deg, rgba(148,0,0,0.35898109243697474) 50%, rgba(148,0,0,0) 100%); */
    /* Ensure it's below Second-Bar */
    --animate-delay: 1.5s;
    background: rgb(148,0,0);
    background: linear-gradient(180deg, rgba(148,0,0,0.8995973389355743) 55%, rgba(148,0,0,0) 100%);
  }
  .Cover-Images-Content .Second-Image .Fourth-Bar{
    width: 100%;
    height: 100%;
    right: -30%;
    align-self: center;
    
    clip-path: polygon(34% 0, 100% 0, 66% 100%, 0 100%);
    background-position: center;
    background-size: cover;
    position: relative; /* Ensure positioning context */
    z-index: 2 !important;
  }
  /* SECOND */
  
  /* FIRST */
  .Cover-Images-Content .First-Image .Second-Bar {
    width: 100%;
    height: 100%;
    align-self: center;
   right: -60%;
    clip-path: polygon(34% 0, 100% 0, 66% 100%, 0 100%);
    background-position: center;
    background-size: cover;
    position: relative; /* Ensure positioning context */
    z-index: 2 !important;/* Lower than First-Bar */
  }
  .Cover-Images-Content .First-Image .First-Bar {
    width:55%;
    height: 54%;
    top: 50%;
    transform: translateY(-50%);
    left:45%;
    clip-path: polygon(40% 0, 100% 0, 60% 100%, 0 100%);
    background: rgb(148,0,0);
    background: linear-gradient(0deg, rgba(148,0,0,0.8995973389355743) 55%, rgba(148,0,0,0) 100%);
    position: absolute;
    z-index: -1 !important;
  }
  .Cover-Images-Content .First-Image .Third-Bar{
    width: 60%;
    height: 50%;
    top:-30%;
    left: 130%;
    transform: translateX(-50%);
    position: absolute;
    clip-path: polygon(34% 0, 100% 0, 66% 100%, 0 100%);
    z-index: -1 !important;
    background: rgb(148,0,0);
  background: linear-gradient(0deg, rgba(148,0,0,0.8995973389355743) 55%, rgba(148,0,0,0) 100%);
   
  }
  /* FIRST */
  
  .Cover-Images-Content .Fourth-Bar{
  
  }