.Active-Route{
  position: relative;
}

.Active-Route a{
  color: #ff0039 !important;
}
.Header{
    width: 100%;
    height: 120px;
 
    display: flex;
    justify-content: center;
    
    z-index: 3;
    background: rgb(12, 12, 20);

  }
  .Header .Header-Section{
    width: 70%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }
  .HiddenDropDown, .ActiveDropDown{
    display: none;
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
  }
 .Header .Header-Section .Drop-Down{
    background-color: transparent;
  }
  .Header .Header-Section .Header-Section-Logo{
    width: 15%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .Header .Header-Section .Header-Section-Logo img{
    height: 80%;
    width:100%;
  }
  .Header-Section button{
    width: 10%;
    height: 50px;
    border-radius: 50px;
    background-color: #ff0039;
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 1.5em;
    align-self: center;
    cursor: pointer;
  }
  .Header .Header-Section .Header-Section-Nav{
    width: 40%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
    font-size: 25px;
    align-self: center !important;
  }
  .Header-Section-Nav a {
    text-decoration: none;
    color: #ffffff;
  }
  .Header-Section-Nav a:visited{
    text-decoration: none;
    color: #ffffff;
  }
  .Drop-Down{
    display: none;
  }
  .Header .Header-Section .Header-Section-Nav li {
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 0.70em;
    text-transform: capitalize !important;
    cursor: pointer;
    color: #ffffff;
    transition: color 500ms; /* Added transition property for color change */
  }
  
  /* .Header .Header-Section .Header-Section-Nav li:last-child {
    background-color: #940000;
    padding: 10px 25px;
    color: white !important;
    outline: 0;
    
  } */
  
  .Header .Header-Section .Header-Section-Nav li:hover {
    color: #e44c35 !important;
  }
  
  /* .Header .Header-Section .Header-Section-Nav li:last-child:hover {
    outline: 1px solid white;
  } */
  .Header.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900000;
   
  }
  .Anim{
    animation: SlideDown 500ms ease-in;
  }
  @keyframes SlideDown{
    0%{
      transform: translateY(-100%);
    }
   
    100%{
      transform: translateY(0%);
    }
  }
  .ActiveDropDown a, .HiddenDropDown a{
    text-decoration:  none;
    color: inherit;
  }
  .ActiveDropDown{
    background: rgba(12, 15, 20, 0.81);
   
    
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
  }