.Footer{
    width: 100%;
    
    background-color: #0c0f14 !important;
    background-size: cover;
}
.Footer-Content{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 170px;
    justify-content: center;
    flex-wrap: wrap;
}
.Logo-Location{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px !important;
}
.Logo-Location p{
    margin: 0 !important;
    font-size: 0.8em !important;
    font-family:'Teko', sans-serif;
    color: rgb(167, 167, 167);
    margin-left: 50px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    
   
}
.Footer-Social{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 10px;
}
.Footer-Social img{
    width: 40px;
    height: 40px;
}
.Logo-Location img{
    max-width: 100%;
    height: auto;
    
    max-height: 110px;
}
.Footer-Newsletter h1{
    color: #dd0021;;
    font-size: 0.93em;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.Footer-Nav{
   font-size: 25px;
   display: flex;
   flex-direction: column;
   
}
.Footer-Nav a{
    text-decoration: none !important;
    color: unset !important;
}
.Footer-Nav h1{
    color: #dd0021;
    font-size: 0.93em;
    letter-spacing: 2px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}
.Footer-Nav p{
    
    margin-top: -5px;
    font-size: 0.80em;
    font-family: 'Teko', sans-serif;
    color: rgb(167, 167, 167);
    
    font-weight: 100;
    letter-spacing: 2px;
}
.Footer-Newsletter{
    align-self: flex-start;
    font-size: 25px;
}
.Footer-Newsletter p{
    color: rgb(167, 167, 167);
    font-size: 0.89em;
    font-family: 'Teko', sans-serif;
}
.search {
    display: inline-block;
    position: relative;
    
  }
  
  .search input[type="text"] {
    width:100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px #B3001B(0, 0, 0, 0.1);
    outline: none;
  }
  
  .search button[type="submit"] {
    background-color: #B3001B;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px #B3001B;
    position: absolute;
    top: 0;
    right: -20px;
    transition: .9s ease;
    
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #B3001B;
  }
  