.Socials{
    width: 100%;
    background-color: #0c0f14;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}
.Socials-Content{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 150px;
}
.Socials-Content-Title{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width:70%;
}
.Socials-Content-Title div{
    width: 100px;
    height: 2px;
    background-color: white;
}
.Socials-Content-Title h2{
    color: white;
    margin: 0 !important;
    font-size: 1.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}
.Socials-Icons{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Socials-Icons img{
    width: 60px;
    height: 60px;
}
.About-Icon{
    display: none;
}