@font-face {
  font-family: 'GlobalFont';
  src: url('/Fonts/LilitaOne-Regular.ttf') format('ttf'),
      
  /* Add additional formats if needed */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
 background-color: #DCDCDC;
}

#root{
  width: 100%;
}
